* {
    box-sizing: border-box;
}

:root {
    --border-radius: 8px;
    --grid-background: #f0f8ff;
    --card-background: #ffffff;
    --card-border-color: #ddd;
    --box-shadow: rgba(0, 0, 0, 0.1);
    --body-text-color: #333;
    --card-title-color: #2c3e50;
    --card-author-color: #8e44ad;
    --card-info-color: #7f8c8d;
    --card-button-background: rgb(81, 121, 232);
}

/***Media query that enables user to change system preference theme to dark mode with pure CSS***/

/*@media (prefers-color-scheme: dark){  
    :root {
    --grid-background:#414141;
    --card-background: #202020;
    --card-border-color: #202020;
    --box-shadow: rgba(255, 255, 255, 0.1);
    --body-text-color: #fff;
    --card-title-color: #5dadfc;
    --card-author-color: #8e44ad;
    --card-info-color: #7f8c8d;
    }
}*/

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: var(--body-text-color);
}

.top-rated {
    border: 1px solid black;
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 1300px;
    padding: 20px;
}

.top-rated ul {
    border: 1px solid black;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 70px;
    padding-right: 100px;
}

.top-rated ul li {
    padding-bottom: 3px;
}

.top-rated ul li::marker {
    content: "📚";
}

.book-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    background: var(--grid-background);
    box-shadow: 0 4px 8px var(--box-shadow);
}

.book-card {
    background: var(--card-background);
    border: 1px solid var(--card-border-color);
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 2px 4px var(--box-shadow); /*a-value stands for opacity. The lower the value, the more transparent*/
    transition: transform 0.2s, box-shadow 0.2s;
    padding: 15px;
}

.book-card:hover {
    transform: translateY(-5px); /*negative moves up the y-axis*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.book-card img {
    width: 100%; /*Image will take 100% of its container Div*/
    height: 300px; /*fixed height for all book-card images, for professionalism*/
    object-fit: cover; /*Ensures the image fits the container while preserving aspect ratio and cropped it where necessary for no empty spaces*/
    border-radius: 8px;
    border-bottom: 1px solid var(--card-border-color); /*to seperate the image form the rest of the card, for image to stand out*/
}

.book-card .book-title {
    color: var(--card-title-color);
    margin: 10px 0;
}

.book-card .book-author {
    color: var(--card-author-color);
    font-size: 0.8rem;
    margin: 20px 0;
}

.book-card .book-info {
    font-size: 0.9rem;
    color: var(--card-info-color);
    margin: 10px 0;
}

.book-button {
    font-size: 0.8rem;
    font-weight: 550;
    border: none;
    background-color: var(--card-button-background);
    border-radius: 5px;
    padding: 1em 2em;
}

