* {
    box-sizing: border-box;
}

:root {
    --body-text-color: #333;
    --border-radius: 8px;
    --grid-background: #f0f8ff;
    --card-background: #ffffff;
    --card-background-two: rgb(246, 232, 247);
    --card-border-color: #ddd;
    --box-shadow: rgba(0, 0, 0, 0.1);
    --card-competition-notice-background: rgb(195, 52, 13);
    --card-new-background: rgb(255, 0, 0);
    --card-out-of-stock-background: rgb(0, 0, 255);
    --card-absolute-text-color: #fff;
    --card-title-color: #2c3e50;
    --card-author-color: #8e44ad;
    --card-info-color: #7f8c8d;
    --card-button-background: rgb(84, 125, 239);
    --card-button-hover-background: rgb(13, 47, 102);
    --menu-background: rgb(31, 40, 60);
}

/****** Media query that enables user to change system preference theme to dark mode with pure CSS ******/

/*@media (prefers-color-scheme: dark){  
    :root {
    --grid-background:#636161;
    --card-background: #202020;
    --card-background-two: rgb(62, 62, 62);
    --card-border-color: #202020;
    --box-shadow: rgba(255, 255, 255, 0.1);
    --card-title-color: #5dadfc;
    --card-author-color: #8e44ad;
    --card-info-color: #7f8c8d;
    }
}*/

.menu-bar { /*How can I change font settings to poppins?*/
    color: var(--card-background);
    background: var(--menu-background);
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0px; /*How can I make my menu-bar scroll with me?*/
    z-index: 6;
}

.menu-items-container {
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu-item {
    width: 100px;
    border-radius: 50px;
    padding: 1em;
}

.menu-item-search {
    border-radius: 50px;
    padding: 1em;
    width: 200px;
}

.menu-title::before {
    content:""  /*How can I add a book icon before the menu-title?*/
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: var(--body-text-color);
}

.competition-notice {
    border-radius: 15px;
    background: var(--card-competition-notice-background);
    color: var(--card-absolute-text-color);
    width: 200px;
    padding: 15px;
    position: fixed;
    top: 500px;
    left: 0px;
    z-index: 5;
    opacity: 0.8;
    animation: competition-notice-animation 3s 3;
}

@keyframes competition-notice-animation {
    from {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-45deg) translate(100px, 50%);
        height: 200px;
        width: 300px;
        font-size: 30px;
    }

    to {
        transform: rotate(360deg);
    }
}

.background-img-1 {
    background-image: url(https://i.pinimg.com/736x/67/18/22/671822c2f63dd5f65d8fd15c9710420b.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: 1300px;
    position: absolute;
    top: 80px;
    left: 0;
    transition: clip-path 1s ease;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
}

.background-img-1:hover {
    clip-path: polygon(0 0, 100% 0%, 100% 0, 0 0);
}

.background-img-2 {
    background-image: url(https://www.shutterstock.com/image-photo/stack-old-books-flying-book-600nw-2311196889.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: 1300px;
}

.top-rated {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 1300px;
    padding: 20px;
}

.top-rated > h1 {
    margin-top: 0;
}

.top-rated ul {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 70px;
    padding-right: 100px;
}

.top-rated ul li {
    padding-bottom: 4px;
    font-weight: 600;
}

.top-rated ul li::marker {
    content: "📚";
}

.book-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    background: var(--grid-background);
    box-shadow: 0 4px 8px var(--box-shadow);
}

.book-card {
    background: var(--card-background);
    border: 1px solid var(--card-border-color);
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 2px 4px var(--box-shadow); /*a-value stands for opacity. The lower the value, the more transparent*/
    transition: transform 0.2s, box-shadow 0.2s;
    padding: 15px;
    position: relative;
}

.book-card:hover {
    transform: translateY(-5px); /*negative moves up the y-axis*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.new {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: var(--card-new-background);
    color: var(--card-absolute-text-color);
    width: 100px;
    padding: 0.5em;
    position: absolute;
    top: 30px;
    z-index: 1;
}

.out-of-stock {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: var(--card-out-of-stock-background);
    color: var(--card-absolute-text-color);
    width: 100px;
    padding: 0.5em;
    position: absolute;
    top: 30px;
    z-index: 1;
}

.book-card img {
    width: 100%; /*Image will take 100% of its container Div*/
    height: 300px; /*fixed height for all book-card images, for professionalism*/
    object-fit: cover; /*Ensures the image fits the container while preserving aspect ratio and cropped it where necessary for no empty spaces*/
    border-radius: 8px;
    border-bottom: 1px solid var(--card-border-color); /*to seperate the image form the rest of the card, for image to stand out*/
}

.out-of-stock-img {
    opacity: 0.4;
}

.book-card .book-title {
    color: var(--card-title-color);
    margin: 10px 0;
}

.book-card .book-author {
    color: var(--card-author-color);
    font-size: 0.8rem;
    margin: 20px 0;
}

.book-card .book-info {
    font-size: 0.9rem;
    color: var(--card-info-color);
    margin: 10px 0;
}

.book-button {
    font-size: 0.8rem;
    font-weight: 550;
    border: none;
    background-color: var(--card-button-background);
    border-radius: 5px;
    padding: 1em 2em;
}

.book-button:hover {
    cursor: pointer;
    color: var(--card-button-background);
    background: var(--card-button-hover-background);
}

.book-grid > .book-card:nth-child(2n) {
 background: var(--card-background-two);
}